[submodule "EaselEngine/3rdparty/spdlog"]
	path = EaselEngine/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "EaselEngine/3rdparty/stb"]
	path = EaselEngine/3rdparty/stb
	url = https://github.com/nothings/stb.git
